.element {
	width: 50px;
	height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	right: var(--project-site-margin);
	transform: translateY(-50%);

	@include fade-hover;

	@include media(">=xmedium") {
		display: none;
	}

	@include media("<xmedium") {
		display: block;
	}

	span {
		width: 100%;
		height: 2px;
		background-color: $c-white;
		position: absolute;
		left: 0;
		transition: transform 300ms ease, top 300ms 300ms ease;
		transform-origin: center, center;
		transform: translateY(-50%);

		&:first-of-type {
			top: 1px;
		}

		&:last-of-type {
			top: calc(100% - 1px);
		}
	}

	&.active {

		span {
			top: 50%;
			transition: transform 300ms 300ms ease, top 300ms ease;

			&:first-of-type {
				transform: translateY(-50%) rotate(45deg);
			}

			&:last-of-type {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}