
.header {
	--project-pen-colour: #{$c-white};

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $z-index-three;
	transition: 400ms transform ease, 400ms background-color ease;
	transform: translateY(-100%);

	@include v-spacing(padding-top, 15px, 30px);
	@include v-spacing(padding-bottom, 15px, 30px);
	@include grid;

	&.headerActive {
		transform: translateY(0);
	}

	&.headerSmall {
		background-color: $c-white;
		transition: 400ms transform ease, 400ms 400ms background-color ease;

		--project-pen-colour: #{$c-black};

		.logowrap {
			width: 140px;
			height: 65px;

			img {
				@include media("<medium") {
					filter: invert(0);
				}
			}
		}

		.right > div span {

			@include media("<medium") {
				background-color: $c-black;
			}
		}
	}
}

.left,
.right {
	display: flex;
	align-items: center;
}

.left {
	justify-content: flex-start;
	grid-column: content / span 6;
}

.right {
	justify-content: flex-end;
	grid-column: span 6 / content;

	nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 65px;

		@media (hover: nohover) {
			display: none;
		}

		@include media("<medium") {
			display: none;
		}

		a {
			text-decoration: none;
			color: var(--project-pen-colour);

			@include P2(600);
			@include fade-hover;
		}
	}
}

.logowrap {
	transition: 500ms width ease, 500ms height ease;
	width: 150px;
	height: 75px;
	display: flex;

	@include media(">=medium") {
		width: 195px;
		height: 90px;
	}

	img {
		object-fit: contain;

		@include media("<medium") {
			filter: invert(1);
		}
	}
}